*
{
    margin: 0px;
    padding: 0px;
}

div
{
    background-color:wheat;
    padding: 20px;
    margin: 10px;
    width: 60px;
}

.parent
{
    background-color: aquamarine;
    display: flexbox;
    flex-direction:row;
}