div
{
    width: 300px;
    height: 350px;
    background-color: bisque;
    overflow: scroll;
}

h1
{
    text-align: center;
    color: brown;
    text-shadow: 5px 5px 5px orchid;
}

h1:hover
{
    color: blueviolet;
    cursor: pointer;
}
p
{
    font-weight: 10px;
    text-align: center;
    text-decoration: underline;
    text-indent: 5px;
}